.unread {
	/*margin: 1em 3em;*/
	/*padding: .5em 1em;*/
	border-left: 5px solid #fce27c;
	/*background-color: #f6ebc1; */
}

.read {
	/*margin: 1em 3em;*/
	/*padding: .5em 1em;*/
	border-left: 5px solid #fce27c;
	/*background-color: #f6ebc1; */
}

.accordion-inner {
	padding-left: 0px; 
	padding-right: 0px;
}

.feed-title {
  border-bottom: 1px dotted #389B17;
  color: #389B17;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  margin-top: 0px;
  text-transform: uppercase;
}
