.unread {
	/*margin: 1em 3em;*/
	/*padding: .5em 1em;*/
	border-left: 5px solid #fce27c;
	/*background-color: #f6ebc1; */
}

.read {
	/*margin: 1em 3em;*/
	/*padding: .5em 1em;*/
	border-left: 5px solid #fce27c;
	/*background-color: #f6ebc1; */
}

.accordion-inner {
	padding-left: 0px; 
	padding-right: 0px;
}

/*html, body {
	height: 100%;
}*/

/*#content, .container-fluid, .span9 .span3
{
    border: 1px solid #000;
    overflow-y:auto;
    height:100%;
}*/​