<div class="container-fluid">
		<div class="sapn12 well">
			<table class="table">
				<thead>
					<tr>
						<th>
							Total Trades			
						</th>
						<th>
							Losing Trades			
						</th>
						<th>
							PnL
						</th>
						<th>
							BPs
						</th>
						<th>
							MIN
						</th>
						<th>
							MAX
						</th>
						<th>
							1 Target
						</th>
						<th>
							2 Targets
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>	
						<td>{[{ trades_counter }]}</td>
						<td>{[{ losing_trades_counter }]}</td>
						<td>{[{ sum_profit_loss }]}</td>
						<td>{[{ sum_profit_bp }]}</td>
						<td>{[{ min }]}</td>
						<td>{[{ max }]}</td>
						<td>{[{ reached_1_target }]}</td>
						<td>{[{ reached_2_targets }]}</td>
					</tr>
				</tbody>
			</table>
			<!-- <span class="span3">
				Number of Trades(Losing): {[{ trades_counter }]} ({[{ losing_trades_counter }]})
			</span>
			<span class="span2">
				PnL: {[{ sum_profit_loss }]}
			</span>
			<span class="span1">
				BPs: {[{ sum_profit_bp }]}p></p>
			</span>
			<span class="span1">
				MIN: {[{ min }]}
			</span>
			<span class="span1">
				MAX: {[{ max }]}
			</span>
			<span class="span2">
				1 target: {[{ min }]}
			</span>
			<span class="span2">
				2 targets: {[{ min }]}
			</span> -->
		</div>
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>
						Date
					</th>
					<th>
						OPEN
					</th>
					<th>
						HIGH
					</th>
					<th>
						LOW
					</th>
					<th>
						L/PRICE
					</th>
					<th>
						ACTION
					</th>
					<th>
						VOL
					</th>
					<th>
						STOP1
					</th>
					<!-- <th>
						STOP
					</th> -->
					<th>
						TARGET1
					</th>
					<th>
						TARGET2
					</th>
					<th>
						TRADES
					</th>
					<th>
						1<sup>st</sup> EXIT
					</th>
					<th>
						2<sup>st</sup> EXIT
					</th>
					<th>
						PROFIT(bp)
					</th>
					<th>
						PROFIT(ccy)
					</th>
					<th>
						BALANCE(ccy)
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in records" class="{[{getRecordClass(item)}]}">
					<td>
						{[{item.date}]}
					</td>
					<td>
						{[{item.open}]}
					</td>
					<td>
						{[{item.high}]}
					</td>
					<td>
						{[{item.low}]}
					</td>
					<td>
						{[{item.last_price}]}
					</td>
					<td>
						{[{item.action}]}
					</td>
					<td>
						{[{item.vol}]}
					</td>
					<td>
						{[{item.stop1}]}
					</td>
					<!-- <td>
						1.50638
					</td> -->
					<td>
						{[{item.target1}]}
					</td>
					<td>
						{[{item.target2}]}
					</td>
					<td>
						{[{item.trades}]}
					</td>
					<td>
						{[{item.exit1}]}
					</td>
					<td>
						{[{item.exit2}]}
					</td>
					<td>
						{[{item.profit_bp}]}
					</td>
					<td>
						{[{item.profit_ccy}]}
					</td>
					<td>
						{[{item.balance}]}
					</td>
				</tr>
			</tbody>
		</table>
		<div class="well" ng-hide="pages == 0">
			{[{page}]} of {[{pages}]}
			<span class="btn btn-warning pull-right" ng-disabled="root.loading" ng-show="root.loading">Loading...</span>
			<span class="btn btn-info pull-right" ng-hide="root.loading" ng-click="loadMore()">Load more >></span>
		</div>
	</div>
</div>		