<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h2 class="feed-title">{[{ feed.title }]} <a href="{[{ feed.htmlUrl }]}"><i style="margin-top: 6px;" class="icon-globe"></i></a></h2>
		</div>
	</div>	
	<div ng-repeat="post in posts">
		<div class="row-fluid">
			<div class="span8">
				<h4>
					<a href="" ng-click="onStarClick(post)">
						<img ng-show="post.starred" src="static/img/star.png" style="margin-bottom: 5px;">
						<img ng-show="!post.starred" src="static/img/star-empty.png" style="margin-bottom: 5px;">
					</a>
					<a href="{[{post.link}]}" target="_blank">{[{post.title}]}</a>
				</h4>
			</div>
			<div class="span4">
				<h6 class="text-right muted">
					{[{post.published.$date}]} ({[{post.published.time_ago}]})
				</h6>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<blockquote ng-class="getPostBlockquoteClass(post)">
					<!-- <p><a href="{[{ post.link }]}" target="_blank"><strong>{[{ post.feed.title }]}</strong></a></p> -->
					<p ng-bind-html-unsafe="post.content"></p>
				</blockquote>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<span class="label" style="padding-top: 0px; margin-right: 5px;"
					ng-repeat="tagname in post.tags">
						{[{tagname}]} <a href="" ng-click="onRemoveTagClick(post, tag)"><i class="icon-remove"></i></a>
				</span>
				<span class="btn btn-mini"
					bs-popover="'static/partials/add-tag-popover.html?123123'"
					data-placement="top"
					ng-click="onAddTagsClick(post)">Add Tag</span>
			</div>
		</div>
		<hr id="hrEndPost">
	</div>
</div>