<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3 sidebar-nav">
			<div class="well" ng-repeat="feed in root.feeds" style="padding: 10px;">
				<ul class="nav nav-list" style="padding-left: 5px; padding-right: 5px;">
					<li class="nav-header">{[{ feed.group }]} <span class="badge badge-info" ng-hide="true">13</span></li>
					<li ng-repeat="item in feed.items">
	          			<a href="" ng-click="itemClicked(item)">
	          				<i class="icon-envelope"></i> {[{item.title}]} 
	          				<span class="badge badge-info" ng-hide="item.unread_count == 0">{[{ item.unread_count }]}</span>
	          			</a>
	          		</li>	
				</ul>	
			</div>	
		</div>
		
		<div class="span9">
			<div class="row-fluid">
				<div ng-switch on="view"> 
					<div ng-switch-when="read">
						<div class="row-fluid">
							<div class="span8">
								<h3>{[{ selectedFeed.title }]}</h3>
							</div>
							<div class="span4">
								<span class="btn btn-small">Mark All Read</span>
								<span class="btn btn-small">Unsubscribe</span>
							</div>
						</div>	
						<div ng-repeat="post in posts" class="" ng-click="onPostClick(post)">
							<div class="row-fluid">
								<div class="span8">
									<h4><i class="icon-star"></i> {[{post.title}]}</h4>									
								</div>
								<div class="span4">
									<h6 class="text-right muted">
										{[{post.published.$date}]} (some time ago)
									</h6>
								</div>
							</div>
							<div class="row-fluid">
								<div class="span12">
									<blockquote ng-class="getPostBlockquoteClass(post)">
										<!-- <p><a href="{[{ post.link }]}" target="_blank"><strong>{[{ post.feed.title }]}</strong></a></p> -->
										<p ng-bind-html-unsafe="post.description"></p>
									</blockquote>
								</div>
							</div>
							<div class="row-fluid">
								<div class="span12">
									<span class="label">test</span>
								</div>
							</div>
							<hr id="hrEndPost">
						</div>
					</div>
					<div ng-switch-default>
						<p>New in your subscriptions</p>
						<div ng-repeat="post in root.digest" 
							style="padding: 10px;" 
							ng-click="onDigestPostClick(post)">
							<h3 style="margin-top: 0px;">
								<a href="{[{ post.link }]}" target="_blank"><strong>{[{ post.feed.title }]}</strong></a>
								<span style="color: grey;">(1)</span>
							</h3>
							<p ng-bind-html-unsafe="post.description"></p>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</div>