<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>RSS Rdr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
	
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/bootstrap-select.min.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="static/img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="static/img/favicon.png">
  
	<script type="text/javascript" src="static/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/jquery.fileDownload.js"></script>

  <script type="text/javascript" src="static/js/bootstrap-select.min.js"></script>
  <script src="static/js/bootstrap-scrollspy.js"></script>


</head>

<body>
<div class="navbar" bs-navbar>
  <div class="navbar-inner">
    <a class="brand" href="#">RSS Rdr <sub style="font-size: 9px">v.003</sub></a>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li data-match-route="/digest"><a href="#/digest"><i class="icon-th-large"></i> Digest</a></li>
        <li class="divider-vertical"></li>
        <li data-match-route="/starred"><a href="#/starred"><i class="icon-star"></i> Starred</a></li>
        <li class="divider-vertical"></li>
        <li data-match-route="/tags"><a href="#/tags"><i class="icon-tags"></i> Tags</a></li>
        <li data-match-route="/import"><a href="#/import"><i class="icon-tags"></i> Import</a></li>
      </ul>
    </div>  
    <form class="navbar-form pull-right form-inline" 
      ng-hide="root.navigation == 'digest' || root.navigation == 'starred' || root.navigation == 'tags'">
        <span class="btn btn-small">Show Unread Only</span>
        <span class="btn btn-small" ng-click="root.makeFeedAllRead(root.navigation)">Mark All As Read</span>
        <span class="btn btn-small">Refresh</span>
        <span class="btn btn-small" ng-click="root.unsubscribeFeed(root.navigation)">Unsubscribe</span>
        <div class="btn-group">
          <span class="btn btn-small"><i class="icon-chevron-up"></i></span>
          <span class="btn btn-small"><i class="icon-chevron-down"></i></span>
        </div>
    </form>
  </div>
</div>		

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="fullheight span3" style="overflow: auto; padding-right: 5px;">
        <div class="row-fluid">
          <div class="span12">
            <accordion ng-cloak>
              <accordion-group 
                ng-repeat="feed in feeds" ng-cloak is-open="feed.open">
               <accordion-heading>
                {[{feed.group}]} <span class="label pull-right">{[{feed.unread_count}]}</span>
               </accordion-heading>
                <ul class="nav nav-list" bs-navbar>
                  <li ng-repeat="item in feed.items" data-match-route="/feed/{[{item._id.$oid}]}">
                    <a href="#/feed/{[{item._id.$oid}]}">
                      {[{item.title}]} 
                      <span class="label label-info pull-right" 
                        ng-hide="item.unread_count == 0">{[{ item.unread_count }]}</span>
                    </a>
                  </li> 
                </ul>
                
              </accordion-group>
            </accordion>
          </div>
        </div>
      </div>

      <div ng-view
        class="fullheight2 span9"  
        style="overflow: auto; padding-right: 5px;"></div>      
    </div>    
  </div>

<!-- <div ng-view></div> -->

<script type="text/javascript" src="static/js/angular/angular.min.js"></script>  
<script type="text/javascript" src="static/js/angular/angular-cookies.min.js"></script>  
<script type="text/javascript" src="static/js/angular/angular-resource.min.js"></script>  
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/angular-ui/ui-bootstrap-0.3.0.js"></script>  
<script type="text/javascript" src="static/js/angular-ui/ui-bootstrap-tpls-0.3.0.js"></script>  
<script type="text/javascript" src="static/js/ng-infinite-scroll.min.js"></script>  
<script type="text/javascript" src="static/js/app.js"></script>
<script type="text/javascript" src="static/js/controllers/home-controller.js"></script>
<script type="text/javascript" src="static/js/controllers/feed-controller.js"></script>
<script type="text/javascript" src="static/js/controllers/digest-controller.js"></script>
<script type="text/javascript" src="static/js/controllers/import-controller.js"></script>
<script type="text/javascript" src="static/js/controllers/tags-controller.js"></script>
<script type="text/javascript" src="static/js/controllers/starred-controller.js"></script>

<script type="text/javascript" src="static/js/angular/strap/angular-strap.js"></script>
<script type="text/javascript" src="static/js/moment.min.js"></script>

</body>
</html>
